  <mat-toolbar class="flex justify-between items-center shadow-md">
    <span class="font-bold cursor-pointer" routerLink="/">Candra Application</span>

    <div class="flex space-x-4">
      <button mat-raised-button routerLink="/" class="!bg-blue-600 !text-white">Home</button>
      <button mat-raised-button routerLink="/" class="!bg-blue-600 !text-white">Test</button>
      <button mat-raised-button routerLink="/" class="!bg-blue-600 !text-white">Test2</button>
      <button mat-raised-button routerLink="/about" class="!bg-blue-600 !text-white">About</button>
      <button mat-raised-button matBadge="3" routerLink="/contact" class="!bg-blue-600 !text-white">Contact</button>
      <button mat-raised-button routerLink="/perpustakaan" class="!bg-blue-600 !text-white">Perpustakaan</button>
    </div>
  </mat-toolbar>

  <main class="container mx-auto p-4 min-h-full">
    <router-outlet></router-outlet>
  </main>

  <footer class="drop-shadow-[0_-4px_6px_rgba(0,0,0,0.1)]">
    <app-copyright [copyRight]="sendCopyRight"></app-copyright>
  </footer>